<?xml version="1.0"?>

<robot name="setup" xmlns:xacro="http://ros.org/wiki/xacro">

        <xacro:include filename="$(find my_dual_robot_cell_description)/urdf/ur_macro.xacro"/>
        <xacro:arg name="alice_robot_ip" default="192.168.1.6" />
        <xacro:arg name="bob_robot_ip" default="192.168.1.4" />
        <xacro:arg name="alice_ur_type" default="ur5e"/>
        <xacro:arg name="alice_joint_limits_parameters_file" default="$(find my_dual_robot_cell_description)/config/$(arg alice_ur_type)/joint_limits.yaml" />
        <xacro:arg name="alice_kinematics_parameters_file" default="$(find my_dual_robot_cell_description)/config/$(arg alice_ur_type)/default_kinematics.yaml" />
        <xacro:arg name="alice_physical_parameters_file" default="$(find my_dual_robot_cell_description)/config/$(arg alice_ur_type)/physical_parameters.yaml" />
        <xacro:arg name="alice_visual_parameters_file" default="$(find my_dual_robot_cell_description)/config/$(arg alice_ur_type)/visual_parameters.yaml" />


        <xacro:arg name="bob_ur_type" default="ur5e"/>
        <xacro:arg name="bob_joint_limits_parameters_file" default="$(find my_dual_robot_cell_description)/config/$(arg bob_ur_type)/joint_limits.yaml" />
        <xacro:arg name="bob_kinematics_parameters_file" default="$(find my_dual_robot_cell_description)/config/$(arg bob_ur_type)/default_kinematics.yaml" />
        <xacro:arg name="bob_physical_parameters_file" default="$(find my_dual_robot_cell_description)/config/$(arg bob_ur_type)/physical_parameters.yaml" />
        <xacro:arg name="bob_visual_parameters_file" default="$(find my_dual_robot_cell_description)/config/$(arg bob_ur_type)/visual_parameters.yaml" />

        <xacro:include filename="$(find my_dual_robot_cell_description)/urdf/my_dual_robot_cell_macro.xacro"/>
        <xacro:arg name="alice_reverse_port" default="50006"/>
        <xacro:arg name="alice_trajectory_port" default="50009"/>
        <xacro:arg name="alice_script_command_port" default="50002"/>
        <xacro:arg name="alice_script_sender_port" default="50007"/>

        <xacro:arg name="bob_reverse_port" default="50005"/>
        <xacro:arg name="bob_trajectory_port" default="50003"/>
        <xacro:arg name="bob_script_command_port" default="50004"/>
        <xacro:arg name="bob_script_sender_port" default="50008"/>

        <link name="world" />

        <!-- <joint name="world_joint" type="fixed">
                <origin xyz="-0.25 0.0 0" rpy="0 0 0" />
                <parent link="world" />
                <child link="alice_base_link" />
        </joint>

        <joint name="world_joint2" type="fixed">
                <origin xyz="0.25 0.0 0" rpy="0 0 0" />
                <parent link="world" />
                <child link="bob_base_link" />
        </joint> -->

        <joint name="frame_base_joint" type="fixed">
                
                <parent link="world" />
                <child link="frame" />
                <origin xyz="0.0 0.0 0" rpy="0 0 0" />
        </joint>

        <link name="frame">
                <visual>
                        <geometry>
                        <mesh filename="package://my_robot_cell_description/meshes/frame_wo_screw_basetrans_m.dae"/>
                        </geometry>
                        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
                </visual>
                <collision>
                        <geometry>
                        <mesh filename="package://my_robot_cell_description/meshes/frame_wo_screw_basetrans_m.stl"/>
                        </geometry>
                        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
                </collision>
        </link>

        <!-- Creates mounts -->
        <link name="alice_robot_mount"/>
        <joint name="base_to_alice_robot_mount" type="floating">
                <parent link="frame"/>
                <child link="alice_robot_mount"/>
                <origin xyz="-0.25 0.0 0.0" rpy="0 0.0 0" />
        </joint>

        <link name="bob_robot_mount"/>
        <joint name="base_to_bob_robot_mount" type="floating">
                <parent link="frame"/>
                <child link="bob_robot_mount"/>
                <origin xyz="0.25 0.0 0.0" rpy="0 0.0 0" />
        </joint>

        <xacro:property name="alice_initial_positions"
         value="${xacro.load_yaml('$(find my_dual_robot_cell_description)/config/$(arg alice_ur_type)/initial_positions_alice.yaml')}" />

        <xacro:property name="bob_initial_positions"
         value="${xacro.load_yaml('$(find my_dual_robot_cell_description)/config/$(arg alice_ur_type)/initial_positions_bob.yaml')}" />

        <xacro:ur_robot name="alice"
                tf_prefix="alice_"
                parent="world"
                robot_ip="$(arg alice_robot_ip)"
                joint_limits_parameters_file="$(find my_dual_robot_cell_description)/config/$(arg alice_ur_type)/joint_limits.yaml"
                kinematics_parameters_file="$(find my_dual_robot_cell_description)/config/$(arg alice_ur_type)/default_kinematics.yaml"
                physical_parameters_file="$(find my_dual_robot_cell_description)/config/$(arg alice_ur_type)/physical_parameters.yaml"
                visual_parameters_file="$(find my_dual_robot_cell_description)/config/$(arg alice_ur_type)/visual_parameters.yaml"
                script_filename="$(find ur_client_library)/resources/external_control.urscript"
                input_recipe_filename="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"
                output_recipe_filename="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"
                reverse_port="$(arg alice_reverse_port)"
                trajectory_port="$(arg alice_trajectory_port)"
                script_sender_port="$(arg alice_script_sender_port)"
                script_command_port="$(arg alice_script_command_port)"
                use_fake_hardware="true"
                initial_positions="${alice_initial_positions}">
          <origin xyz="-0.25 0.0 0" rpy="0 0 0" />
        </xacro:ur_robot>

        <xacro:ur_robot name="bob"
                tf_prefix="bob_"
                parent="world"
                robot_ip="$(arg bob_robot_ip)"
                joint_limits_parameters_file="$(find my_dual_robot_cell_description)/config/$(arg bob_ur_type)/joint_limits.yaml"
                kinematics_parameters_file="$(find my_dual_robot_cell_description)/config/$(arg bob_ur_type)/default_kinematics.yaml"
                physical_parameters_file="$(find my_dual_robot_cell_description)/config/$(arg bob_ur_type)/physical_parameters.yaml"
                visual_parameters_file="$(find my_dual_robot_cell_description)/config/$(arg bob_ur_type)/visual_parameters.yaml"
                script_filename="$(find ur_client_library)/resources/external_control.urscript"
                input_recipe_filename="$(find ur_robot_driver)/resources/rtde_input_recipe.txt"
                output_recipe_filename="$(find ur_robot_driver)/resources/rtde_output_recipe.txt"
                reverse_port="$(arg bob_reverse_port)"
                trajectory_port="$(arg bob_trajectory_port)"
                script_sender_port="$(arg bob_script_sender_port)"
                script_command_port="$(arg bob_script_command_port)"
                use_fake_hardware="true"
                initial_positions="${bob_initial_positions}">
          <origin xyz="0.25 0.0 0" rpy="0 0 0" />
        </xacro:ur_robot>

</robot>
